<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Customer</title>
</head>
<body>

<!--<h1>This is my other page!</h1>-->
<div> &nbsp</div>
<div> &nbsp</div>


<form class="form-horizontal" action="#" th:action="@{/}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td label class="label label-primary">First Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>

        <tr>
            <td label class="label label-primary">Last Name:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>

        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr><td></td><td colspan=2 align="center"><input class="btn btn-info btn-lg" type="submit" name="submit" value="&nbsp&nbsp Submit &nbsp&nbsp"></td></tr>

    </table>
</form>



<!-- Bootstrap 4 JS code -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>