<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book deleted</title>
</head>
<body>
BOOK DELETED
<div class="container">
    <h2>Delete Entire Address Book</h2>
    <form action="#" th:action="@{/deleteAddressBook}" th:object="${entry}" method="get">
        <div class="form-group">
            <input type="password" class="form-control" id="pass" name="password" placeholder="Password" th:field="*{password}">
        </div>
        <button class="btn btn-primary">DELETE</button>
    </form>
</div>

</body>
</html>